
@*<body style="background-image: url(~/Image/bg.jpg)">*@
    <div style="text-align:center;height:600px">
        <input type='text' style='font-size:20px' name="" id="inputID" />
        <input type="button" value="搜索" style='font-size:20px' id="subID">
        @*<a href="http://www.baidu.com" style='font-size:20px'>跳转至...</a>*@
    </div>

